// main: _main.styl

.nav-bar
  z-index 100
  position fixed
  top 0
  left 0
  right 0
  height 100px
  background-color $white
  & .gutter-container
    display flex
    justify-content space-between

.nav-content
  line-height 100px

.nav-links a
  font-size 13px
